:root.theme-dark {
  --main-color: #000028;
  --subtitle-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --highlight-color: #FF0070;
  --translusent-highlight-color: rgba(255, 0, 112, 0.4);
  --text-color: #F1B2CE;
  --cover-image: url(../images/cover-image-dark.png);
}

.theme-dark .header span {
  display: inline-block;
}

