.page {
  padding: 10px;
  color: var(--subtitle-color, #000028);
  font-family: var(--font), sans-serif;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--main-color, #000028);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: var(--title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
}

.text {
  color: var(--text-color, #F1B2CE);
  font-weight: 400;
}

.card-title {
  margin-block-end: 10px;
  font-weight: 400;
  font-size: 18px;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
}

.section__title {
  color: var(--highlight-color, #FF0070);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color, #FF0070);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--highlight-color, #FF0070);
}

.content {
  display: grid;
  gap: 50px;
}

/* header */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  margin-block-end: 50px;
  block-size: 100vh; 
  min-block-size: 648px;
}

/* стили для уголочков */

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid var(--highlight-color, #FF0070);
  border-right: 1px solid var(--highlight-color, #FF0070);
  inline-size: 25px;
  block-size: 25px;
} 

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--highlight-color, #FF0070);
  border-left: 1px solid var(--highlight-color, #FF0070);
  block-size: 25px;
  inline-size: 25px;
}

/* стили для REC и точки */

.header span {
  position: absolute;
  top: 0;
  /* размеры спана из макета */
  right: 9px;
  inline-size: 52px;
  block-size: 26px;
}

.header span::before {
  content: "REC";
  display: inline-block;
  color: var(--accent-color, #FF0070);
  font-size: 18px;
  line-height: 1.39;
}

.header span::after {
  content: "";
  position: relative;
  left: 10px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070); 
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button { 
  border: none;
  padding: 4px 13px;
  color: var(--highlight-color);
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent; 
}

.header__theme-menu-button_active {
  outline: 1px solid var(--highlight-color, #FF0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--translusent-highlight-color, rgba(255, 0, 112, 0.4)); 
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-underline-position: under;
}

.header__title {
  align-self: center;
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

/* секция why */

.why {
  display: grid;
  gap: 20px;
}

.why__card-list {
  display: grid;
  gap: 20px;
}

/* секция what */

.what {
  display: grid;
  gap: 20px;
}

.what__card-list {
  display: grid;
  gap: 20px;
}

/* секция how */

.how {
  display: grid;
  gap: 20px;
}

.how__card-list {
  display: grid;
  gap: 20px;
}

.how__content {
  display: grid;
  gap: 20px;
}

/* секция gallery */

.gallery {
  display: grid;
  gap: 10px;
  margin-block-end: 50px;
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

/*footer */

.footer {
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 648px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

/* медиазапросы */

@media (width >= 780px) {
  .page {
    padding: 20px;
  }

  .content {
    gap: 80px;
  }

  .header {
    margin-block-end: 60px;
  }

  .header__subtitle {
    justify-self: end;
    inline-size: 50%;
  }

  .why {
    grid-template-columns: 1fr 2fr;
  }

  .what {
    grid-template-columns: repeat(3, 1fr);
  }

  .what__card-list {
    grid-column: 1 / span 3;
  }

  .how {
    grid-template-columns: 1fr 2fr;
  }

  .how__content {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-end: 80px;
  }

  .gallery h3 {
    grid-column: 1 / span 3;
  }

  img:nth-of-type(1),
  img:nth-of-type(5) {
    grid-column: span 2;
  }

  img:nth-of-type(2),
  img:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .what__card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}